<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>incuByte-task</title>
    <link rel="icon" href="https://cutshort.io/horizontal-og-image?img=https://cutshort-data.s3.amazonaws.com/cloudfront/public/companies/5e997a054b01680c1071a96a/logo-1601274855501-Incubyte-Final-Logo-02.png" type="image/x-icon">

    <style>
        body {
            background-image: url("https://cutshort.io/horizontal-og-image?img=https://cutshort-data.s3.amazonaws.com/cloudfront/public/companies/5e997a054b01680c1071a96a/logo-1601274855501-Incubyte-Final-Logo-02.png");
            background-repeat: no-repeat;
            background-size: center;
        }
        
        h1 {
            color: blue;
            text-align: center;
            margin-top: 200px;
        }
    </style>
</head>

<body>
    <h1>Hello Mukesh Kumar Patel</h1>
</body>

</html>